@import 'bootstrap/mixins';

.logo {
  width: 90px;
  height: 18px;
  margin: 17px 0 0 0;
  background: url('logo.png') no-repeat left top;
  text-indent: -9999px;
  overflow: hidden;
}

.app {
  height: 100%;
}

.main {
  padding-top: 50px;
  background: #f0f0f0;
  height: ~"calc(100% - 155px)";

  .tab-content {
    min-height: 400px;
  }
}
