.block {
  position: relative;
  background: #FFF;
  border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 8px;
  padding: 20px 20px;
  width: 236px;
  float: left;

  h6 {
    margin-top: 0;
    font-weight: 300;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  table {
    table-layout: fixed;
  }

  td {
    font-size: 15px;
    font-weight: 300;
    word-wrap: break-word;
    border: none;
    line-height: 16px;
    padding-bottom: 10px;

    span {
      display: none;
      cursor: pointer;
    }
  }

  tr:hover span {
    display: block;
  }

  .form-control, .tt-hint {
    font-weight: 300;
    font-size: 15px;
    border: none;
    padding: 1px;
    resize: none;
    line-height: 16px;
  }
}

.block-template {
  width: 236px;
  height: 236px;
  float: left;
  border: 2px dashed darken(#edeff1, 8%);
  border-radius: 3px;
  text-align: center;

  a {
    display: block;
    color: #ccc;
    margin-top: 60px;
    text-shadow: 0 1px 0 #fff;
    &:hover {
      color: darken(#ccc, 10%);
    }
  }

  .fui-new {
    display: block;
    font-size: 48px;
  }
}
