.header {
  height: 55px;
  border-bottom: 1px solid #ececec;

  a {
    font-size: 14px;
    color: #b0babf;
    &:hover {
      color: $base-accent-color;
    }
  }

  li {
    display: inline;
    margin-left: 15px;
  }

  .logo {
    width: 90px;
    height: 18px;
    margin: 19px 0 0 0;
    background: asset-url('logo-small.png') no-repeat left top;
    float: left;
    @include hide-text;
  }

  .nav {
    float: right;
    line-height: em(54);
  }

  .active {
    color: $base-accent-color;
  }
}
