.login {
  body, & {
    width: 100%;
    height: 100%;
  }

  body {
    @include display-box;
    @include box-align(center);
    background: #f8f8f8;
  }

  p {
    color: #575757;
    margin: 0;
    font-weight: 400;
  }

  .logo {
    @include hide-text;
    width: 150px;
    height: 29px;
    background: image-url('logo.png') no-repeat left top;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .message {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .login-header {
    margin-bottom: 40px;
  }

  .login-form {
    width: 313px;
    height: 337px;
    margin: 0 auto;
  }

  .login-group {
    position: relative;
  }

  .icon {
    font-size: 16px;
    top: 9px;
  }

  input[type="text"],
  input[type="password"] {
    height: 42px;
    padding: 8px 12px;
    margin-bottom: 15px;
    line-height: 1.467em;
  }

  button {
    @include button-variant;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    margin-top: 20px;
  }
}
