.menu {
  position: relative;
  background: #FFF;
  border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  padding: 20px 20px;

  h6 {
    margin-top: 0;
    font-weight: 300;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  td {
    font-size: 16px;
    font-weight: 300;
    white-space: normal;
    border: none;

    span {
      display: none;
      cursor: pointer;
    }
  }

  tr:hover span {
    display: block;
  }

  .form-control, .tt-hint {
    font-weight: 300;
    font-size: 16px;
    border: none;
    padding: 1px;
    height: 29px;
  }
}
