.menu-header {
  @extend %header-common;

  h2 {
    float: left;
  }

  small {
    font-weight: 300;
    margin-left: 3px;
    color: #b4b4b4;
  }

  li {
    display: inline;
  }

  a {
    position: relative;
    height: 40px;
    float: left;
    background-color: #D6DBDF;
    margin-left: -1px;
    color: #fff;
    @include transition(background-color 0.2s ease-out);

    &:hover {
      color: #fff;
      background-color: $base-accent-color;
    }
  }

  .pagination {
    float: right;
    margin-top: 25px;
  }

  .today {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 16px;
  }

  .fui-arrow-left, 
  .fui-arrow-right {
    display: inline-block;
    width: 45px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
  }

  .fui-arrow-left {
    border-bottom-left-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;
  }

  .fui-arrow-right {
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }
}

.menu {
  background: #e8e8e8;

  .container {
    margin-top: 30px;
  }

  .chef {
    background: asset-url('chef.png') no-repeat center top;
    width: 288px;
    padding-top: 280px;
    color: #b3b3b3;
    margin: 80px auto 0;
    font-weight: 400;
    font-size: 21px;
  }
}

.menu-block {
  position: relative;
  background: #FFF;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  border-radius: $base-border-radius;
  margin-bottom: 14px;
  padding: 20px;
  width: grid-width(3) - 40;
  float: left;

  h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 14px;
    width: 192px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-overflow: none;
      overflow: visible;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  table {
    table-layout: fixed;
    margin: 0;
  }

  td {
    font-size: 14px;
    font-weight: 300;
    word-wrap: break-word;
    line-height: em(16);
    padding-bottom: 14px;
    vertical-align: top;
    border: none;
  }

  tr:last-child td {
    padding-bottom: 6px;
  }

  tr:hover span {
    display: block;
  }

  .fui-cross {
    display: none;
  }

  .form-control, .tt-hint {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    border: none;
    padding: 0;
    height: 27px;
    margin: 0;
  } 
}

.menu-template {
  width: grid-width(3) - 4;
  height: 225px;
  float: left;
  border: 2px solid #d9d9d9;
  border-radius: $base-border-radius;
  text-align: center;

  a {
    display: block;
    font-weight: 400;
    color: darken(#ccc, 10%);
    margin-top: 77px;
    &:hover {
      color: darken(#ccc, 20%);
    }
  }

  .fui-new {
    display: block;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;
  }   
}
