.header-page {
  @extend %header-common;
  margin-bottom: 20px;

  h2 {
    line-height: 36px;
    margin-top: 23px;
  }
}

.legend {
  color: #b4b4b4;
  margin: 0;
}

.profile {
  width: 930px;
  font-weight: 400;

  th {
    font-weight: normal;
    width: 25%;
  }

  th, td {
    padding: 20px 10px;
    border-color: #ececec;
    font-size: 14px;
  }

  table    { margin: 0; }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 50%;
    margin-bottom: 0;
    font-size: 14px;
  }

  textarea { 
    width: 73%;
    max-width: 73%; 
  }

  h4 {
    font-weight: 300;
    margin-top: 50px;
  }

  .first {
    td, 
    th { padding-top: 0; }
  }
  
  .slug-field {
    display: inline-block;
    margin-left: 15px;
  }

  .description-label {
    vertical-align: top;
    line-height: 34px;
  }

  .pagseguro {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.hours-table tbody td { 
  padding-top: 10px;
  padding-bottom: 10px;
}

.hours-button {
  padding: 9px 13px;
  font-size: 13px;
  line-height: 1.385;
}

.address {
  margin-top: 10px;
  margin-left: 10px;
  font-style: normal;
}

.address-group { margin-top: 20px; }

.address-submit {
  margin-top: 20px;
  margin-left: 100px;
}

.address-form {
  position: relative;
  margin-top: 30px;

  label {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
  }

  input[type="text"] {
    width: 391px;
    display: inline-block;
  }

  img {
    position: absolute;
    right: 0;
    top: -90px;
    border-radius: 280px;
  }
}
