$gw-column: 68px;
$gw-gutter: 14px;

$midnight-blue: #2c3e50;
$silver: #bdc3c7;
$clouds: #ecf0f1;

body {
  overflow: hidden;
}

header .container {
  width: 930px;
}

.container {
  width: grid-width(12);
  margin: 0 auto;
}
