.header {
  height: em(55);
  border-bottom: 1px solid #ececec;

  a {
    font-size: em(14);
    color: #b0babf;
    &:hover {
      color: $base-accent-color;
    }
  }

  li {
    display: inline;
    margin-left: em(15);
  }

  .logo {
    width: 90px;
    height: 18px;
    margin: 19px 0 0 0;
    background: url('logo-small.png') no-repeat left top;
    float: left;
    @include hide-text;
  }

  .nav {
    float: right;
    line-height: em(54);
  }

  .active {
    color: $base-accent-color;
  }
}
