* {
  &, &:before, &:after {
    @include box-sizing(border-box);
  }
}

body {
  color: #fff;
  background: #1cb772 asset-url('pattern.png') repeat left top;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 { 
  margin-top: 0; 
  font-weight: normal;
}

.hide {
  opacity: 0;
}
