<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='<%= asset_path 'application.css' %>'>
    <script defer src='<%= asset_path 'application.js' %>'></script>
    <script defer src='/setup.js'></script>
  </head>
  <body>
  </body>
</html>
