<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="<%= asset_path "application.css" %>">
    <script src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
    <script src="<%= asset_path "application.js" %>"></script>
    <script src="/setup.js"></script>
  </head>
  <body>
  </body>
</html>
