<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Cardápio Online • Mennu</title>
    <link rel='stylesheet' type='text/css' href='<%= asset_path 'site.css' %>'>
    <script defer src='<%= asset_path 'site.js' %>'></script>
  </head>
  <body>
    <header class='header'>
      <h1 class='logo'>Mennu</h1>
      <h4 class='menu'>Cardápio do dia</h2>
    </header>
    <main class='main'>
      <h2>Obtenha mais clientes através do cardápio do dia</h2>
      <div class='buttons'>
        <a href='mailto:mennu@cardapiomennu.com.br'>mennu@cardapiomennu.com.br</a>
        <a href='#'>Ligue: 31 3334.2444</a>
      </div>
      <p>Entre em contato e peça uma demonstração</p>
    </main>
  </body>
</html>
