<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Menu</title>
    <link rel='stylesheet' type='text/css' href='<%= asset_path 'site.css' %>'>
    <script defer src='<%= asset_path 'site.js' %>'></script>
  </head>
  <body>
  
  </body>
</html>
